
body  

{ 
	color: black; 
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
	background-image: url("../img/sunshine.jpg");
	
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

h2 { font-size: 2.2rem;
	color: brown;}
.tm-thin-font { font-weight: 300; }

	p { color: black; }
	


.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1390px;
	overflow-x: hidden;
}

@media (max-width: 1390px) {
	.container-fluid {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.tm-header {
	background-color:transparent;
}

.tm-header-inner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 80px;
	background-color: transparent;
	color: black;
}

.tm-site-name {
	color: white;
	display: block;
	font-size: 2.6rem; 
	font-weight: 400;
	font-family: 'Permanent Marker', cursive;
	background-color: transparent;
	
}

.tm-main-nav { font-size: 1.2rem; }

.navbar-nav .nav-link {`
	border-radius: 2px;
	color: white;
	padding: 10px 40px;
	font-family: 'Arvo', serif;
}

.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
	color: white;
	background-color: brown;
	font-family: 'Arvo', serif;
	
	
}

.tm-gold-text { color: brown; }

.tm-section {
	padding-top: 30px;
	padding-bottom: 0px;
	font-family: 'Arvo', serif;
	background-color: #F2F2F2;
	
	
	
	
}

.tm-home-img-container {
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;

	
}

.tm-about-img-container { background-image: url('../img/tm-about-img.jpg');	}
.tm-blog-img-container { background-image: url('../img/tm-blog-img.jpg'); }
.tm-contact-img-container { background-image: url('../img/tm-contact-img.jpg'); }

.tm-about-img-container,
.tm-blog-img-container,
.tm-contact-img-container {
	background-size: auto 200px;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}

.tm-title {
	margin-bottom: 1rem;
	line-height: 1.4;
}

.tm-subtitle {
	font-size: 1.4rem;
	max-width: 800px;
	margin: 0 auto 80px; 
}

.tm-content-box {
	max-width: 310px;
	margin: 0 auto;
}

h3 { font-size: 1.65rem; }
h4 { 
	font-size: 1.4rem;
	line-height: 1.6;
}

.tm-btn {
	color: white;
	background-color: brown;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 30px;
}

.tm-btn:hover,
.tm-btn:focus {
	background-color: brown;
	color: white;
	outline: none;
}

.tm-btn-gray { background-color: brown; }
.tm-btn-gray:hover,
.tm-btn-gray:focus {
	background-color: black;	
}

.tm-margin-b-15 { margin-bottom: 15px; }
.tm-margin-b-20 { margin-bottom: 20px; }
.tm-margin-b-30 { margin-bottom: 30px; }
.tm-margin-b-40 { margin-bottom: 40px; }
.tm-margin-t-big { margin-top: 90px; }
.tm-margin-t-mid { margin-top: 60px; }
.tm-margin-t-small { margin-top: 30px; }

.tm-text-link { 
	color: black; 
	line-height: 2.8;
	text-decoration: none;
	text-align: left;
}
.tm-overflow-auto { overflow: auto; }
.tm-small-font { font-size: 1rem; }
.tm-related-post { margin-bottom: 40px; }
.tm-related-post:last-child { margin-bottom: 0; }
.media-left { padding-right: 25px; }
.media-body {
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
}

.tm-media-description { margin-bottom: 0; }

.rightcolumn { padding-left: 20px; 
color: black; }



.mid-footer {
	color: #c6c6c6;
	background-color: #F6EEEE;
	font-size: 1rem;
	padding-top: 40px; 
	padding-bottom: 20px;
	font-family: 'Arvo', serif;

	
}

.mid-footer-links-container { padding-left: 10px; }

.mid-footer-link {
	color: #CCCC66;
	line-height: 2.8;
	text-decoration: underline;
	
}

.mid-footer-link:hover,
.mid-footer-link:focus {
	color: #CCCC66;
	text-decoration: none;
	 
}
.mid-footer-thumbnail { margin-bottom: 5px; }

.mid-copyright-text { 
	color: white; 
	margin-bottom: 0;
}


 

.tm-footer {
	color: black;
	font-size: 1rem;
	padding-top: 40px;
	padding-bottom: 20px;
	font-family: 'Arvo', serif;
	background-color: #E7CFCF;
	
}

.tm-footer-links-container { padding-left: 10px; }

.tm-footer-link {
	color: black;
	line-height: 2.8;
	text-decoration: underline;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
	color: black;
	text-decoration: none;
}
.tm-footer-thumbnail { margin-bottom: 5px; }

.tm-copyright-text { 
	color: black; 
	margin-bottom: 0;
}


hr { border-top: 1px solid black; }
p { line-height: 1.9; }

.tm-gray-bg { 
	background-color: #CCCCCC; 
	color: black; 
	padding: 30px 20px 20px;
}
.tm-footer-content-box-title { margin-bottom: 30px; }

.tm-img-post { margin-bottom: 30px; }

.tm-aside-r { padding-left: 30px; }

.form-control {
	border-radius: 0;
	font-size: 1.1rem;
	padding: 0.75rem 1rem;
}

.form-control:focus { border-color: ##e5b90b; }

.tm-form-description { margin-top: 30px; }
.tm-contact-form { padding-top: 20px; }

#google-map {
    height: 333px;
    width: 100%;
    margin-top: 40px;
}

.tm-contact-right { padding-left: 30px; }
.tm-p-small { font-size: 1rem; }


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




















@media (max-width: 1199px) {
	.leftcolumnin { padding-right: 0px; }
	.rightcolumn { padding-left: 0px; }
	.tm-text-link {
		line-height: 2.2;
	}
	.container-fluid {
		padding-left: 4%;
		padding-right: 4%;
		color: brown;
	}
}

@media (max-width: 991px){

	.tm-home-img-container {
		background:none;
		height: auto;
	}

	.tm-subtitle { margin-bottom: 40px; }
	
	#tmNavbar .navbar-nav .nav-link { padding: 10px 25px; }
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}

	.tm-content-box { margin-bottom: 50px; }
	.tm-text-link { line-height: 2.4; }

	.tm-section {
	    padding-top: 50px;
	    padding-bottom: 60px;
		background-color: #FAF7D8;
	}

	.leftcolumnin, .rightcolumn { 
		margin: 0 auto;
		max-width: 660px; 
		background-color: #F6EEEE;
	}
	
	.tm-margin-t-big { margin-top: 30px; }
	.media { max-width: 100%; }
	.media-left {
		display: table-cell;
		margin-bottom: 0;
	}

	.tm-footer-content-box { margin-bottom: 40px; }

	.tm-2-rows-md-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.tm-2-rows-md-down-1 {
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.tm-2-rows-md-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.tm-contact-right { 
		padding-left: 15px; 
		padding-top: 40px;
	}
}

@media (max-width: 897px) {
	.tm-btn {
		padding: 10px 15px;
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.tm-main-nav {
		position: fixed;
		right: 0;
		top: 21px;
		z-index: 1000;
	}
	#tmNavbar .navbar-nav .nav-item { float: none; }
	#tmNavbar .navbar-nav .nav-link { padding: 10px 35px; }
	#tmNavbar {
		background: #a1c678; 
		border-radius: 6px;
	}
	#tmNavbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }
	.navbar-toggler {
		background: black;
		border-color: #AED884;
		color: #e5b90b;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.navbar-toggler:focus { outline: none; }
	.tm-content-box { margin-bottom: 50px; }
	
	.leftcolumnin {
		padding-right: 0;
		max-width: 660px;
	}

	.rightcolumn { padding-left: 0; }
	.tm-margin-b-40 { margin-bottom: 25px; }
	
	.tm-copyright-text { padding-top: 0; }
	.tm-gray-bg { padding: 20px 20px 10px; }
	.tm-footer { padding-bottom: 15px; }

	.tm-2-rows-sm-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.tm-2-rows-sm-down-1 { 
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.tm-2-rows-sm-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.tm-sm-m-b { margin-bottom: 20px; }
	.tm-aside-r { padding-left: 15px; }
	.tm-aside-container {
		max-width: 310px;
		margin: 0 auto;
	}

	.tm-blog-post {	
	padding-bottom: 10px; 
	font-size: 16px;
	font-family: 'Arvo', serif;
	}
	
	.tm-content-box-contact {
		margin-top: 40px;
		margin-bottom: 0;
	}

	.tm-contact-row-related-posts {	margin-top: 40px; }
}

@media (max-width: 543px) {
	.tm-footer-links-container { padding-left: 0; }
	.tm-xs-m-t { margin-top: 20px; }
	.tm-btn { padding: 10px 30px; }
}

@media(max-width: 510px) {
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}
		
	.tm-section {
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.tm-subtitle { margin-bottom: 20px; }
	.tm-margin-b-40 { margin-bottom: 15px; }
	.tm-content-box { margin-bottom: 40px; }
	.tm-margin-t-mid { margin-top: 30px; }
	.tm-footer-content-box { margin-bottom: 40px; }
	.tm-footer-content-box-title { margin-bottom: 15px; }
	#google-map { margin-top: 25px; }
	.tm-map-section { margin-top: 50px; }

	.tm-contact-related-posts-container {
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
}


.leftcolumn 

{
	float: left; 
	max-width: 70%;
	font-size: 14px;
	color: black;
	background-color: transparent 
	border-style: none;
	border-width: 10px;
	padding-left: 80px;
	padding-right: 80px;

} 



@media(max-width: 510px) {
.leftcolumn

{
	float: left; 
	max-width: 100%;
	font-size: 14px;
	color: black;
	background-color: transparent 
	border-style: none;
	border-width: 10px;
	padding: 10px;
	padding-left: 10px;

} 
}

.rightcolumn

{
	float: left; 
	max-width: 20%;
	font-size: 14px;
	color: black;
	background-color: transparent 
	border-style: none;
	border-width: 10px;
	padding-left: 20px;
	padding-right: 20px; 

} 



@media(max-width: 510px) {
.rightcolumn

{
	float: left; 
	max-width: 100%;
	font-size: 14px;
	color: black;
	background-color: transparent 
	border-style: none;
	border-width: 10px;
	padding: 10px;
	padding-left: 10px;

} 
}


 
.responsive {
    width: 100%;
    height: auto;
}


.box {
	padding-bottom: 1px; 
	font-size: 18px;
	font-family: 'Arvo', serif;
	
	}


iframe{
    overflow:hidden;
}
	
	
	
	
.leftcolumnin {

	font-size: 15px;
}
	
	 
	
	
	
	
	
/* Index slide show */

.mySlides {display:none;}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1} 
}




#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: orange; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
}

